[2015-01-23 13:51] mkasztelnik opened #2 "Problem while executing experiment for 128 section with 7 days long period"
Following error is thrown every time I'm trying to run experiment for 128 sections, for 7 days. @nowakowski, @bwilk please take a look - I need to execute such experiment for iccs publication (so it should be fixed quite fast - paper deadline is end of next week and I need to interpret the results and write article section).

[code]

[2015-01-23 15:16] nowakowski commented on #2
@mkasztelnik Did you use dap or dap-dev?

[2015-01-23 15:25] nowakowski commented on #2
@mkasztelnik If it's dap-dev (as I suspect it is), try it again - I have increased the connection pool size.

[2015-01-23 15:37] mkasztelnik commented on #2
Yuap `dap-dev` is used to run experiments. I just started a new one (id `115`)

[2015-01-23 15:45] mkasztelnik commented on #2
Great it helped :) Thank you for your help

[2015-01-23 15:45] #2 closed

[2015-06-19 10:39] bwilk opened #4 "Nullable references. DeviceAggregation type."
Add nullable references:

Device belongs_to Profile
Device belongs_to Section
Device belongs_to Levee

DeviceAggregation belongs_to Profile
DeviceAggregation belongs_to Section
DeviceAggregation belongs_to Levee

Introduce DeviceAggregation type to represent optical fiber and other special aggregations.

[2015-07-02 14:17] bwilk commented on #4
Implemented - waiting for integration test to merge.

[2015-07-02 14:17] #4 closed

[2015-07-03 06:34] bwilk opened #6 "The type of the ground, a section is constructed from, should be stored in DAP"
There are to altrernative solutions:
1. String value - section_type in the Section entity
2. Table { id, human-readable-name, k-parameter, other metadata ... }

REST endpoint for Section should aggregate all of the information concerning type of the ground.

@dharezlak @nowakowski

[2015-07-06 12:12] bwilk opened #7 "Remove sensors from schema"
Remove Sensor entity.
Remove sensor_ids from Profile entity.
Change profile_shape method behaviour in order to use Device entities.
Change profile_shape method name to "shape".

[2015-07-06 12:13] bwilk opened #8 "Add seed for Levee generation"
New schema must be taken into account

[2015-07-07 15:05] bwilk opened #9 "Generate measurements in the future :)"

[2015-07-09 14:05] bwilk opened #10 "DeviceAggregation - Device hierarchy can boil down to single table"
Idea:

Device is generic type that can represent parent - child hierarchy. It has its type, set of parameters and set of static metadata - stored in specialized table. Eg. Device of type - neosentio_sensor has single parameter, identifier of parent probe, and a set of metadata stored in table Noesentio Sensor.

Maybe Node instead of Device wuold be a better name.

Serializer returns metadata toget

[2015-07-14 13:53] nowakowski commented on #10
@bwilk So you would propose to replace `DeviceAggregation` with just another `Device` which has a parent/child link with the `Device` objects representing aggregation components? If so, I rather like the idea.

[2015-08-04 12:15] dharezlak opened #11 "Enable list search on DAP entities for id-related fields"
As a result searches such as `?id=10,12,...` or `?device_id=14,12,...` should be possible.

[2015-08-12 10:55] dharezlak opened #13 "Introduce API for scenario data retrieval"
Query based on threat assessment id. DAP should:
* Based on timeline ids in the request query correlate column names with measurement types of parameters,
* Based on the found index and threat assessment start date approximate timestamps for each row in the scenario,
* Limit the returned parameters only for measured equivalents (real world values).

[2015-08-22 12:05] #11 closed

[2015-09-08 13:10] mkasztelnik opened #15 "Get first and last measurement from defined period"
To display fiber view in GUI I need to get `last` sensor value from given time interval. What is more to distinguish when first value from this sensor was registered in DAP I need to get `first` measurement from given interval (when start time will be unix time 0).

It would be nice to have something like

[code]

All measurements should be returned in the measurement time order.

[2015-09-10 07:34] mkasztelnik opened #16 "Shape for DeviceAggregation"
It would be nice to have shape in `DeviceAggregation` object. It would allow us to draw e.g. fiber, etc.

[2015-09-10 07:35] dharezlak opened #17 "Return metadata of various device types directly in the /devices queries"

[2015-09-10 07:36] dharezlak commented on #6
@bwilk: Is the colour value going to be there in DAP as well?

[2015-09-11 10:13] dharezlak opened #18 "Wrong coordinates of one of the sections"
In MultiPoint geometry first and last points should be identical. For section with id=8 it is not the case. Please correct.
![screenshot from 2015-09-11 12 12 01](https://cloud.githubusercontent.com/assets/1506876/9812554/6c6ed1c2-587e-11e5-8325-8dcdc6f1a066.png)

[2015-09-11 11:00] dharezlak opened #19 "Indicate whether a profile is a Budokop or NeoSentio one directly in the returned profile json"
This will greatly improve the UI's metadata popup panel

[2015-09-14 05:57] dharezlak opened #20 "Introduce an experiment entity into DAP data hierarchy"
It should store experiment start date and a wave shape (the wave shape will come from the modelling team as discussed in the meeting).

[2015-09-14 06:54] nowakowski commented on #20
@dharezlak Can you determine what datatype should be assigned to the wave shape?

[2015-09-14 07:31] dharezlak commented on #20
Well, I guess even a concatenated string would do. However, in the REST layer I would prefer a hash of timestamps as keys and heights as values.

[2015-09-14 07:44] mpawlik commented on #20
I suppose the "float" datatype would be good for storing waves ;)

[2015-09-14 08:25] dharezlak opened #21 "Expose photos of measuring devices"
The photos should be obtained from the budokop team.

[2015-09-14 08:30] dharezlak opened #22 "Include the "fibre device is included by section" information in the device metadata"
This is needed to highlight sections of the selected fibre device in the fibre graphical widget.

[2015-09-14 08:57] mkasztelnik commented on #17
[code]

[2015-09-14 09:03] #22 closed

[2015-09-14 09:04] mkasztelnik opened #23 "Distance marker (relative and global) for each fibre"

[2015-09-14 10:33] mkasztelnik opened #26 "Create device fibre type"
metadata:
  * fibre distance marker
  * levee distance marker

[2015-09-14 10:44] nowakowski commented on #18
Temporarily fixed on prod. Will be permanently fixed once I receive new Budokop sensor data.

[2015-09-15 08:45] dharezlak opened #29 "Properly model parameters and devices"
Currently, parameters of a single device are mapped as several separate devices grouped with device aggregates. Map it to the model as one device with several parameters.

[2015-09-15 10:15] #6 closed

[2015-09-15 10:18] #16 closed

[2015-09-15 10:19] #26 closed

[2015-09-15 14:14] #17 closed

[2015-09-15 14:15] #23 closed

[2015-09-16 07:58] dharezlak opened #31 "Make sure device aggregates which model sensor wells have point shapes"
In the production dap the aggregates do not have point shapes attached. E.g. see device aggregation with id=39 where shape is null.

[2015-09-16 11:24] mkasztelnik commented on #15
I was not precise enough in this issue description. I would like to have `last` or `first` value for **all** given timelines, so for example following query:

[code]

Should return 2 values (last value for each profile).

[2015-09-16 11:27] mkasztelnik commented on #15
What is more current implementation returns corrupted elements, e.g. when in given time interval there is no measurements following response is returned:

[code]

[2015-09-16 13:46] bwilk commented on #15
implented as limit = each_timeline_last parameter

[2015-09-16 16:54] nowakowski commented on #15
@bwilk I see what you did there but I was working on this in parallel and I think I have a better solution - right now both `limit=first` and `limit=last` return 1 measurement per timeline. I believe #33 is better than your commit. Please review and merge if you agree.

[2015-09-17 06:28] bwilk commented on #15
Yours should be a bit more efficient. In fact this way you can easily extend this solution to return last "n" for each timelines - consider that. I' merging

[2015-09-17 06:30] bwilk commented on #15
I'm not  :-). There are some conflicts but you have my thumb up.

[2015-09-17 07:53] mkasztelnik opened #34 "Some fibre devices are not assigned to any section"
Some of registered fibre devices are not assigned to any section. Bellow you can find the one I found:

[code]

[2015-09-17 08:02] nowakowski commented on #34
@mkasztelnik Those are the devices which "protrude" from the levee on @mpawlik 's map - their geographical location is not contained within the bounding box of any levee section, hence the nil assignment.

[2015-09-17 08:10] mkasztelnik commented on #34
Ok so the problem is connected with imported data not with dap - closing

[2015-09-17 08:10] #34 closed

[2015-09-17 09:27] nowakowski commented on #15
@bwilk Thanks!

[2015-09-17 09:29] nowakowski commented on #15
Replaced @bwilk 's changes with mine and merged with master. Invoke `limit=first` or `limit=last` to obtain 1 measurement per timeline (the first or last one respectively). An empty array is returned if no measurements match the search criteria. Deployed on production. Closing ticket.

[2015-09-17 09:29] #15 closed

[2015-09-23 10:05] dharezlak commented on #20
Fields:
* startDate,
* endDate,
* id,
* name,
* description,
* timelines.

[2015-09-23 10:09] nowakowski commented on #31
Fixed for all DAs except weather stations (we do not have placement coordinates for weather stations).

[2015-09-23 10:09] #31 closed

[2015-09-25 13:44] dharezlak opened #35 "Match the closest fibre devices to each profile"
Profile -> device relationshipt could be used to model it.

[2015-09-25 13:45] dharezlak opened #36 "Provide full shape (different one than current profile_shape) for profile seen from the side perspective"

[2015-09-29 06:01] dharezlak opened #38 "Missing levee id value in responses with section data"
This is just a minor issue but since I spotted it... When requesting section data (with e.g. `/sections?leveeId=1`) the levee_id section properties are null in the response.

[2015-09-30 07:11] mkasztelnik opened #39 "division by zero when number of records is smaller than defined quantity"
In the situation when `quantity` query params is set to value higher than measurement numbers following error is thrown:

[code]

This is because of this line: https://github.com/ismop/dap/blob/master/app/controllers/api/v1/measurements_controller.rb#L74

When `count` is e.g. 100 and `quantity` is 1000 then `m_qty/(params[:quantity]` is `0.1` which after conversion into integer is `0`.

What is mo

[2015-09-30 08:33] #39 closed

[2015-10-05 06:47] dharezlak commented on #20
Experiment entity should also hold a field with levee id.

[2015-10-06 10:56] #20 closed

[2015-10-06 13:12] tbartynski opened #42 "Measurement is represented in DB by multiple record"
GET /api/v1/measurements?timeline_id=52&time_from=2015-10-03%209:40:40%20+0200&time_to=2015-10-03%209:45:40%20+0200
returns
{"measurements":[{"id":7682653,"value":0.0270000007003546,"timestamp":"2015-10-03T07:45:23.000Z","source_address":null,"timeline_id":52},{"id":7681565,"value":0.0270000007003546,"timestamp":"2015-10-03T07:45:23.000Z","source_address":null,"timeline_id":52},{"id":7680477,"valu

[2015-10-07 14:15] mkasztelnik opened #43 "Device serialization triggers 4 additional sql queries"
In `DapController` I don't see any joins while loading device. As a conclusion for every device 4 additional queries are performed to the DB while serializing into json:

[code]

Let's do some benchmarking:

[code]

The results show huge speed improvement:

[code]

[2015-10-07 17:20] mkasztelnik commented on #43
Description updated with some benchmarking. I will prepare appropriate PR for it.

[2015-10-09 07:39] dharezlak opened #47 "Passing empty parameters in URL queries causes 500 errors"
E.g. `/measurements?timeline_id=`.

[2015-10-12 06:25] #43 closed

[2015-10-12 12:43] mkasztelnik opened #49 "Get parameters for all devices for selected levee"
In Chart analyse view I need to show all devices with all parameters to the user. When following query i created:

[code]

DAP returns `414 Request-URI Too Large` error. Any advice how I can solve it? Would it be possible to add following query to DAP:

[code]

[2015-10-13 06:04] #49 closed

[2015-10-15 12:29] dharezlak opened #52 "Replace C parameter units with ℃"

[2015-10-15 12:33] dharezlak commented on #52
The utf code for degree celsius is \u2103.

[2015-10-21 12:41] mkasztelnik opened #55 "Add name and description into Scenario"
These fields will be used on UI

[2015-10-21 13:17] mkasztelnik commented on #55
It seems like `Scenario` model has a lot of outdated fields and relations, in my opinion following elements can be removed:

  * file_name
  * payload
  * context_id
  * profile_type_id
  * thread_level

/cc @dharezlak, @bwilk, @tbartynski

[2015-10-22 08:24] tbartynski commented on #55
I think we can get rid of file_name and payload since we there will be appropriate timelines with measurements so there will also be an association with experiment and devices (or device aggregations) and it will be possible to traverse to profile via devices. If that is true we can remove existing fields.

Regarding thread_level if we get as assessment for a scenario we should associate Scenario

[2015-10-23 10:06] #55 closed

[2015-10-24 11:01] nowakowski opened #58 "Relation between ThreatAssessments and ThreatAssessmentRuns"
@tbartynski @mkasztelnik The note I received from @tbartynski appears to claim that a `ThreatAssessmentRun` should have many `ThreatAssessments`. This is evident from the fact that you are asking for a `threat_assessment_run_id` field in `ThreatAssessments`, and also the `1` and `n` annotations next to `ThreatAssessmentRun` and `ThreatAssessment` entities respectively.

Are you sure this is correc

[2015-10-25 10:27] #29 closed

[2015-10-26 11:03] tbartynski commented on #58
This is correct. TAR has many TAs.

[2015-10-26 11:07] #58 closed

[2015-11-07 08:14] mkasztelnik opened #68 "Add section metadata"
During UI presentation we were asked to add section colors and sections metadata. In the attachment you can find pdf with colors and needed metadata.

These information should be accessible though REST API.

[parametry_gruntow.pdf](https://github.com/ismop/dap/files/29343/parametry_gruntow.pdf)

\cc @dharezlak

[2015-11-25 10:34] nowakowski opened #69 "Flume sink assigns measurements to wrong timelines"
When a Parameter has many Timelines the Flume sink assigns new measurements to incorrect Timeline objects. Please ensure that measurements are assigned to a Timeline which is bound to context with context_type specified as 'measurements' (not 'scenarios').

Once this is done, please report to PN so that he can clean up the production database.

[2015-11-27 10:52] #69 closed

[2015-12-01 09:53] dharezlak opened #71 "Missing data for UT1 to UT5 sensors"
When looking at temperature and pressure timelines pressure is missing for the mentioned sensors. Have a look at the attached screenshot.

![chart](https://cloud.githubusercontent.com/assets/1506876/11497502/b643d04c-9819-11e5-95ba-62713f3f26d8.png)

[2015-12-01 15:10] nowakowski commented on #71
@dharezlak Unable to reproduce. I just checked - the data is present in the database, correctly returned via API call and correctly visualized in the UI. See attached screenshot (from production UI).
![dap_scrn](https://cloud.githubusercontent.com/assets/4568385/11504488/f4152804-9845-11e5-8192-35d0c0c416a6.png)

[2015-12-01 17:39] dharezlak commented on #71
Indeed, now it looks much better. However UT4 still shows some incoherency:

![chart](https://cloud.githubusercontent.com/assets/1506876/11508779/c9cafe60-985a-11e5-845b-082437b6e4cd.png)

[2015-12-02 08:31] nowakowski commented on #71
No readings for UT4_T are being received from MOM. Perhaps the sensor is malfunctioning. We have notified Marek Konieczny.

[2015-12-09 07:07] dharezlak opened #72 "Introduce a multilanguage REST extension and name the parameters and devices accordingly"

[2015-12-16 10:52] dharezlak opened #73 "Implement an alerting system which fires whenever sensor data gets too old"

[2015-12-18 10:41] mkasztelnik opened #74 "Measurements exported as CSV"
It is requested by ISMOP team to download sensor values as CSV. The open questions are as follow:

1. in which rest API it should be added (sensors or measurements)
2. what format should be used (especially when measurements from many sensors should be exported)
3. should it be synchronous or asynchronous proces?

Any comments remarks are welcomed. This can also simplify the work @tbartynski and @

[2015-12-18 10:46] nowakowski commented on #74
@mkasztelnik Could you specify who exactly is the requestor?

[2015-12-18 10:47] mkasztelnik commented on #74
Prof. Lesniak's team and dr. Borecka.

[2015-12-18 10:48] nowakowski commented on #74
Thanks.

[2015-12-18 10:50] #18 closed

[2015-12-18 11:16] nowakowski commented on #74
I guess the most pressing issue is item 2, i.e. the export format. Since Prof. Leśniak's team will be consuming this data, I would like to ask them to provide a suitable template (or a set of examples) showing how they wish this data to be formatted.

[2015-12-18 11:42] nowakowski commented on #71
Marek Konieczny informs us that no data for this sensor is being sent by the Budokop infrastructure and that he has notified them of the issue.

[2015-12-18 12:29] nowakowski commented on #71
Update: the sensor malfunctioned and will be replaced during the Christmas break. Closing issue.

[2015-12-18 12:29] #71 closed

[2016-01-04 07:06] mkasztelnik opened #76 "500 response while asking about measurements"
Following request triggers 500 error code on both dev and prod environments:

[code]

[code]

DAP should be resistant for such a situation when one of the query params is empty.

[2016-01-04 07:47] mkasztelnik opened #77 "Unable to get fibre readings for concrete point in time (504 status response)"
While asking about fibre data:

[code]

504 response appears instead of real data.

[2016-01-04 08:13] nowakowski commented on #77
@dharezlak 's DAP proxy is impatient and times out before a response is received from DAP. Increase timeout value (for now).

[2016-01-04 08:18] mkasztelnik commented on #77
Since we have already valid certificate for DAP UI does not use proxy. CORS requests are made directly from the browser into DAP. Nginx timeout is set to 60s so it seems like DAP query takes more than 60s :cry:

[2016-01-04 10:08] nowakowski commented on #77
Raised to 600s, try it now?

[2016-01-04 10:14] mkasztelnik commented on #77
It solves 504 issue but not solve "this is toooooooooooooo long" issue. Any approximate date when it will be faster (5 to max 10s is acceptable IMHO)?

[2016-01-04 10:32] #76 closed

[2016-01-04 10:58] nowakowski commented on #77
@mkasztelnik Working on it; bear with me...

[2016-01-04 10:58] nowakowski commented on #77
Btw., since the issue is fixed as per report, I suggest closing this ticket (slow queries are a whole different issue).

[2016-01-04 10:59] mkasztelnik commented on #77
Ok, but please give us a date, when slow queries issue will be solved.

[2016-01-04 11:57] mkasztelnik commented on #74
This is nice article http://www.krisquigley.co.uk/2015/12/08/polling-for-file-generation.html presenting how file generation can be done in the background and how such files can be presented to end user.

[2016-01-04 13:50] mkasztelnik commented on #74
@nowakowski, @bwilk any deadline when this feature will be implemented?

[2016-01-04 13:58] nowakowski commented on #74
@mkasztelnik On 18 Dec I sent out invitations to all members of Professor Leśniak's team to contribute to this discussion by clarifying their requirements. As there has been no reply I assume it's not a priority issue for them. I will proceed once I obtain specific information on what is to be done.

[2016-01-04 15:50] nowakowski commented on #77
@mkasztelnik I've pushed a temporary fix to both prod and dev. You should see a ~20-fold improvement in DAP response times.

[2016-01-04 15:50] #77 closed

[2016-01-04 19:14] kszostek commented on #74
1. Both. Not only for tests of our team, but also for different analysis in future.
2. I believe that the CSV format presented you before might be the target of the export. But the best approach would be to create a simple export editor: what columns, what order, how to separate files, etc.
3. Async. A zip file containing selected exports is prepared on the server, user gets email with the link on

[2016-01-04 19:37] nowakowski commented on #74
@kszostek Could you attach a sample CSV file to this discussion? Note that we cannot index measurements by timestamp because - unlike in simulated data - there is no guarantee that a full set of real measurements will be available for any arbitrary timestamp.
I will leave @mkasztelnik to comment on the editor feature mentioned in item 2. Granted, it would probably be "the best approach" in terms o

[2016-01-04 20:02] kszostek commented on #74
If no real measurements is available for a particular timestamp, an empty value should be returned.

I think any file format would be ok as far as it contains timestamp and values or empty strings for NULLs.

It can be like this - it's just like the file I've received lately:
X,Y,Z,type,temp,ppres,Timestamp,Name
-40,20,19,1,6.55618306,,1435755600,Tout_13
-40,20,19,1,6.54645702,,1435756500,Tout_13

[2016-01-04 20:23] mkasztelnik commented on #74
We agreed during UI presentation that 2 kind of import actions will be available:
  1. every chart will have export button where what is presented on chart will be exported (see https://github.com/ismop/eitwid/issues/45)
  2. there will be `export experiment data button` available for finished experiments (see https://github.com/ismop/eitwid/issues/58)

This is what we will do for now. After this

[2016-01-05 09:33] mkasztelnik commented on #77
This fix i perfect :dancer:  fibre loading time ~3.5s :heart::heart::heart: - good job :+1:

[2016-01-05 15:33] nowakowski commented on #9
@bwilk Is this still required? If so, could you provide more specific information on what is to be done?

[2016-01-05 15:38] #7 closed

[2016-01-05 15:40] nowakowski commented on #8
Is this issue still relevant?

[2016-01-06 13:23] nowakowski commented on #73
Deployed on production. API changes documented at https://dap.moc.ismop.edu.pl/help/api

[2016-01-06 13:23] #73 closed

[2016-01-11 11:16] dharezlak opened #79 "Optimize REST queries using the 'limit=last" parameter"
Currently it takes over 10 seconds to retrieve last readings for both weather stations:

https://dap-dev.moc.ismop.edu.pl/api/v1/measurements?timeline_id=2619%2C2620%2C2621%2C2622%2C2623%2C2624%2C420%2C421%2C422%2C423%2C424%2C425&time_to=2016-01-11T12%3A08%3A30.983%2B01%3A00&limit=last

Fetching last fibre readings takes way too long:

https://dap-dev.moc.ismop.edu.pl/api/v1/measurements?timeline_

[2016-01-11 11:34] dharezlak opened #80 "Set weather station parameter names the same way as in production"
Recently modifications were made to production weather parameters. Apply the same changes to development counterparts.

[2016-01-18 12:47] bwilk commented on #74
Let's talk about exporting experiments first. The aforementioned export format may be unsuitable for our data model. In the format you've mentioned timestamp plays a role of indexing column - for each timestamp should be present a valid measurement for all parameters at a sensor location (XYZ). In our model we simply get measurements with a timestamp of the reading. Therefore, there is no way to p

[2016-01-18 13:55] bwilk commented on #74
Prof. Leśniak's team please comment on that. Preferences and suggestions are welcomed.

[2016-01-18 16:21] ChuchroM commented on #74
We prefer first or second solution. First solution is similar to export data from Flac models. But ask Bartosz Baliś . He is programming an aplication, which will manage cleaning, comparision and anomaly detection programs. The purpose of the application is, inter alia, the transfer of data in the appropriate format, length and time resolution.

[2016-01-20 15:57] mkasztelnik commented on #19
@nowakowski any deadline for this issue? We need it to implement https://github.com/ismop/eitwid/issues/44

[2016-01-20 16:03] mkasztelnik commented on #47
@nowakowski I believe that it is already solved and now api returns 400 response code.

[2016-01-20 16:04] mkasztelnik commented on #68
@nowakowski any deadline for this issue? We need it to implement https://github.com/ismop/eitwid/issues/42.

[2016-01-21 09:13] nowakowski commented on #19
@mkasztelnik Technically there is nothing difficult about this; however the question belies the logic of our data model. A profile is a **generic** entity that is not specific to a device manufacturer, i.e. DAP allows a profile to contain devices which are contributed by various manufacturers. In order to implement this feature I need you (or @dharezlak) to tell me how DAP should determine that a

[2016-01-21 09:13] nowakowski commented on #47
Yep. Closing.

[2016-01-21 09:13] #47 closed

[2016-01-21 09:14] nowakowski commented on #68
I can get this done by tomorrow.

[2016-01-21 09:14] mkasztelnik commented on #19
The answer is simple - current profiles are a budokop profiles, new one created when neosentio sensors will be registered will be neosentio profiles :smile:

[2016-01-21 09:19] nowakowski commented on #19
It is dangerous to assume that any new profile inserted into DAP must be a "neosentio profile". As a person who's very conscious about software development practices surely you must be aware of this. ^_^

[2016-01-21 09:22] mkasztelnik commented on #19
I'm not saying that you need to hardcode this assumption in the code :) I'm saying that in ismop installation existing profiles are budokop new one will be neosentio.

[2016-01-21 09:24] nowakowski commented on #19
OK, so what you want is a new field in the `Profile` model with an enum data type (currently restricted to `:neosentio` and `:budokop`), right?

[2016-01-21 09:26] mkasztelnik commented on #19
I want REST interface to return neosentio or budokop in one of Profile attribute - it depends on you how it will be implemented in DAP.

[2016-01-21 09:27] nowakowski commented on #19
Okay.

[2016-01-22 11:28] nowakowski commented on #19
@dharezlak @mkasztelnik Done and deployed to dap-dev. The new field is named `Profile.vendor` and serialized accordingly in `GET /profiles`. Value is set to `budokop` for all existing profiles. Before I merge this into master and deploy to prod I will need you to confirm that this is what you wanted.

[2016-01-22 11:33] mkasztelnik commented on #19
I looks ok.

[2016-01-22 11:33] nowakowski commented on #68
@mkasztelnik Created a new model named `SoilType`. Each Section now belongs to a SoilType. Populated the DB with data derived from the PDF and manually assigned each Section to the correct SoilType on dap-dev. Values are serialized directly in `GET /sections` (i.e. there's no separate API for querying SoilTypes - I can create one if you want, but it seems unnecessary). Before I merge this into mas

[2016-01-22 11:36] mkasztelnik commented on #68
Would it be possible to insert this information into `/sections` response similar like for device metadata?

[2016-01-22 11:38] nowakowski commented on #68
@mkasztelnik It's already happening.

[2016-01-22 11:40] mkasztelnik commented on #68
I see :+1:

[2016-01-22 11:41] nowakowski commented on #68
:)

[2016-01-22 11:41] nowakowski commented on #9
@bwilk Ping!

[2016-01-22 11:42] nowakowski commented on #8
@bwilk Ping!

[2016-01-22 14:40] nowakowski commented on #19
Replaced `vendor` with `vendors` (list type).

[2016-01-24 14:08] nowakowski commented on #68
Done. Deployment held back by https://github.com/ismop/eitwid/issues/44 (pending @dharezlak 's approval).

[2016-01-24 14:08] #68 closed

[2016-01-24 14:08] nowakowski commented on #19
Done. Deployment held back by https://github.com/ismop/eitwid/issues/44 (pending @dharezlak 's approval).

[2016-01-24 14:08] #19 closed

[2016-01-25 09:07] mkasztelnik opened #81 "Null is returned in device_aggregation vendors list"
Take a look at response from this url: https://dap-dev.moc.ismop.edu.pl/api/v1/device_aggregations/52

[code]

`null` should not exist there.

[2016-01-25 09:20] nowakowski commented on #81
Fixed in #82 and deployed to dap-dev. Sorry.

[2016-01-25 12:21] nowakowski commented on #81
Deployed to dap-prod.

[2016-01-25 12:21] #81 closed

[2016-01-26 07:30] mkasztelnik opened #83 "Add possibility to ask about oldest reading for concrete parameter timeline"
Rationale: https://github.com/ismop/eitwid/issues/70

[2016-01-26 14:13] nowakowski commented on #83
@mkasztelnik @dharezlak A worker has been created which periodically polls all timelines for earliest measurements and updates two new fields which have been added to the Timeline model (`timeline.earliest_measurement_timestamp` and `timeline.earliest_measurement_value`). Since this is a computationally-intensive operation it will only be performed once per day (configurable interval). The new fie

[2016-01-27 07:50] mkasztelnik commented on #83
:+1:

[2016-01-27 13:33] mkasztelnik commented on #83
Please let me know when this will be deployed into prod.

[2016-01-27 15:44] #83 closed

[2016-01-27 15:57] nowakowski commented on #83
@mkasztelnik Done.

[2016-02-04 08:57] dharezlak commented on #80
This got quite urgent as it prevented spotting a bug before doing a release to production.

[2016-02-04 09:08] dharezlak commented on #80
To make it clear weather station parameter names were changes (e.g. from `Stacja KI - wilgotność powietrza` to `Wilgotność powietrza`).

[2016-02-04 11:53] nowakowski commented on #80
Currently rebuilding dap-dev database and populating it with production data. This might take a while (30 minutes or so) and dap-dev will not work during that time. Bear with us.

[2016-02-04 13:05] nowakowski commented on #80
dap-dev rebuilt and repopulated with production data (including WS parameter names). @dharezlak please close this task if you believe your issue has been resolved.

[2016-02-05 11:11] nowakowski commented on #80
@dharezlak Can we close this?

[2016-02-09 09:58] mkasztelnik commented on #74
@bwilk any progress?

[2016-02-10 14:34] nowakowski commented on #10
Closing this for now since there is no support for this idea in the Project consortium.

[2016-02-10 14:34] #10 closed

[2016-02-10 14:35] nowakowski commented on #13
@dharezlak Could you tell us whether this is still relevant?

[2016-02-10 14:40] nowakowski commented on #38
Fixed in #85 and deployed to dap-dev.

[2016-02-10 14:40] #38 closed

[2016-02-10 14:51] dharezlak commented on #13
I suppose it is no more relevant since approach to handle scenario data has been reworked.

[2016-02-10 14:51] #13 closed

[2016-02-10 14:57] nowakowski commented on #79
Closing since this has been addressed via addition of a `time_from` clause.

[2016-02-10 14:57] #79 closed

[2016-02-10 16:25] nowakowski commented on #36
@dharezlak Problematic. We currently do not have the necessary geospatial data (and do not expect to receive it). Can we make do without this attribute?

[2016-02-10 17:14] dharezlak commented on #36
Yes, we can and we are doing it already by assuming that the height of the profile is 4,5 meters. Let's stick to that then.

[2016-02-10 17:14] #36 closed

[2016-02-17 06:49] mkasztelnik opened #87 "500 response while asking about measurements"
query `https://dap-dev.moc.ismop.edu.pl/api/v1/measurements?timeline_id=1043`

response:

[code]

In dap-dev logs:

[code]

[2016-02-17 06:50] mkasztelnik commented on #87
Most probably this is connected with `cvs` branch merge

[2016-02-17 09:07] nowakowski commented on #87
Yep, the new features merged into master by @bwilk are not compatible with the partitioning branch data model currently in place on dap-dev.

I merged the current master with partitioning, fixed data access conflicts and deployed the result to dap-dev. Try it now.

[2016-02-17 12:31] mkasztelnik commented on #87
I can confirm that it is fixed already on `dap-dev`

[2016-02-17 12:31] #87 closed

[2016-02-19 09:02] bwilk commented on #74
Yes. It's implemented and merged from "csv" to "master" branch. Waiting for development instance to have it tested on the real data.

[2016-02-22 08:15] mkasztelnik commented on #74
@bwilk export capability is added into charts where Chart Presenter is used and for Experiment. For simple experiment (10 days period) timeout occurred.

You can test it using ui-dev installation.

Remarks:
  * export speed should be improved. If it is not possible than we need to move it into background process (this will require changes in dap and eitwid)
  * CSV file names should be customized.

[2016-02-23 09:07] dharezlak opened #88 "Make sure that the resolution mechanism always serves the last available measurement"
This is especially important when analysing/viewing data while performing a levee experiment.

[2016-02-23 15:42] #88 closed

[2016-02-24 14:11] #8 closed

[2016-02-24 14:11] bwilk commented on #8
no - not relevant i suppose

[2016-02-24 14:12] bwilk commented on #9
not relevant i suppose

[2016-02-24 14:12] #9 closed

[2016-02-25 12:05] dharezlak opened #90 "Polish naming and units for the new water height sensors"
* height should be given in metres not centimetres,
* device name should be more user-friendly (currently `pump_monitoring` which gives pump_monitoring - Monitorowanie wysokości fali - Level1_PV`` in the UI),
* `Level1_PV` and the like could be replaced with something more meaningful based on MK2's description sent in an email,
* measurement unit for the energy consumption parameter is missing.

[2016-02-29 11:29] nowakowski opened #91 "Ensure log rotation (esp. for workers) on dap and dap-dev"

[2016-02-29 16:46] mkasztelnik commented on #91
I already done it for both dev and prod.

[2016-02-29 16:46] #91 closed

[2016-03-02 18:55] mpawlik opened #92 "Add API description for threat assessment run entity."
While implementing changes in hypgen I've noticed that the 'threat assessment run' entity is not documented on 'API description page'.

[2016-03-15 10:01] mkasztelnik opened #93 "Create upstart scripts for flume-dev and flume-prod"
Create upstart script for:
  * flume-dev
  * flume-prod

[2016-03-16 08:53] bwilk commented on #93
Not relevant any more. As for now flume-prod stores not delivered measurements in a file-channel, it works just fine without flume-dev. When the latter starts channel is unloaded and messages are delivered and stored in DAP as they should be.

[2016-03-16 08:53] #93 closed

[2016-03-17 10:31] nowakowski opened #94 "Measurement table trigger violates CHECK constraint in child tables"
Due to DATETIME conversion mechanics the trigger does not correctly handle measurements which occur in the first hour following CT switchover (i.e. the first hour of each month - e.g. 2016-03-01 00:30:00). Observed by @mkasztelnik on dap-dev

[2016-03-17 10:32] nowakowski commented on #94
Fixed in latest iteration of #85 (commit f31d9dd).

[2016-03-17 10:34] nowakowski commented on #94
@bwilk I had to repartition the `measurements` table. Could you check that flume-dev still works correctly (i.e. inserts records into `measurements` on dap-dev)?

[2016-03-17 13:27] bwilk commented on #94
for me it looks OK - measurements are stored correctly

[2016-03-21 14:30] nowakowski opened #95 "Fix offending tests in measurements request and monitoring service"

[2016-03-23 08:16] nowakowski opened #96 "Integrate DAP with Sentry"

[2016-04-04 08:19] #74 closed

[2016-04-04 08:19] bwilk commented on #74
Feature is ready

[2016-04-04 08:31] bwilk commented on #52
Ok - I fixed this together with "stopnie" unit changed for  "\u00B0"

[2016-04-04 08:31] #52 closed

[2016-04-04 08:32] bwilk commented on #52
Works on development and production instance

[2016-04-04 09:27] bwilk commented on #96
Done on development and production

[2016-04-04 09:27] #96 closed

[2016-04-04 10:48] bwilk commented on #92
Fixed

[2016-04-04 10:48] #92 closed

[2016-04-11 12:53] mkasztelnik opened #97 ""unknown parameter" name for all fibre sensors"
![up](https://cloud.githubusercontent.com/assets/1265430/14427455/21c361aa-fff5-11e5-90ce-2e3d695bdb3b.png)

[2016-04-11 12:57] nowakowski commented on #97
Fixed on dev.

[2016-04-11 13:08] mkasztelnik opened #98 "levee distance marker for upper fibre is too precise"
Instead of `271.4769...` should be `271.5`

[2016-04-11 13:50] bwilk opened #99 "Change format for CSV export"
The new CSV format should be:
`<timestamp>,<device_custom_id>,<measurement_type_name>,<value>`
which will produce lines similar to these:
`(1444329900,ASP.POMIARY_GESO_2000.F_0192,Temperatura,18.48999977)`

[2016-04-15 10:40] nowakowski commented on #97
Fixed on prod. Closing.

[2016-04-15 10:40] #97 closed

[2016-04-15 18:42] mkasztelnik opened #102 "Consider visible as internal DAP mechanism"
Currently UI should show only devices which are marked as visible. It would be nice if UI does not need to bother about it and visible would be internal DAP mechanism. It should be connected with all connected elements - e.g. bug https://github.com/ismop/eitwid/issues/91 was connected with that we were loading measurements for not visible devices.

So I propose:

1. no devices returned by REST API

[2016-04-15 18:46] nowakowski commented on #102
I thought we already had this discussion, but fine. Could be tricky to implement optimally, esp. for measurements.

[2016-04-15 18:53] mkasztelnik commented on #102
Issue I was mentioning was solved, but I'm not sure if other views do not have similar problems. Solution described by me will allow us to avoid such situations, since these sensors (with visible=false) are just wrong and should not be shown anywhere.

[2016-04-19 07:28] bwilk opened #103 "Report malfunctioning sensors as "WARNING" in application log"
In this way we will be immediately informed about issues concerning sensors via e-mail by Sentry

[2016-04-25 09:29] bwilk commented on #99
Implemented and merged to master - not in production yet though.
@dharezlak - you may want to know

[2016-04-25 09:29] #99 closed

[2016-04-25 09:39] bwilk commented on #94
@nowakowski can this issue be closed?

[2016-04-25 09:44] bwilk commented on #35
@dharezlak  is it stil valid?

[2016-04-25 10:04] bwilk commented on #42
Tested in production. It seems to be fixed by the way. Please reopen if encountered again

[2016-04-25 10:04] #42 closed

[2016-04-25 12:26] bwilk commented on #103
Implemented and merged to master branch. Sentry now gets informed about malfunctioning sensors

[2016-04-25 12:26] #103 closed

[2016-04-25 13:25] mkasztelnik opened #104 "Wrong number of returned elements when quantity is defined"
Following query `https://dap.moc.ismop.edu.pl/api/v1/measurements?timeline_id=2146&time_from=2016-04-11T15%3A17%3A08.653%2B02%3A00&time_to=2016-04-25T15%3A17%3A08.653%2B02%3A00&quantity=999` return 588 elements instead of 999.

[2016-04-25 13:34] nowakowski commented on #104
That's because there are only 588 measurements which match the input criteria. The `quantity` flag does not generate fake measurements; it merely prunes real ones (if there are too many).

[2016-04-25 13:37] mkasztelnik commented on #104
1175 results are returned for this query: `https://dap.moc.ismop.edu.pl/api/v1/measurements?timeline_id=2146&time_from=2016-04-11T15%3A17%3A08.653%2B02%3A00&time_to=2016-04-25T15%3A17%3A08.653%2B02%3A00`

[2016-04-25 13:37] nowakowski commented on #104
Hmm...

[2016-04-25 13:46] nowakowski commented on #104
OK: I think I see why this happens. `MeasurementController` works by selecting every _n_th record from the original result set, but _n_ must be a natural number -- with 1175 results _n_ is computed as 2 and therefore you end up with 50% of the set, which is fewer than 999 measurements. This behavior will not be easy to change; can you work around it?

[2016-04-25 13:48] mkasztelnik commented on #104
This is not critical, since it was discovered by me not by the end user :) But if possible and doable it would be nice to have this corrected. Treat it as issue with low priority.

@dharezlak what do you think about it?

[2016-04-25 13:55] nowakowski commented on #104
I wrote this part in pure SQL for performance reasons, but SQL is not good for fancy control logic. It's quite difficult to specify stuff like "select 999 records out of 1175 but make sure they're evenly spaced along the time axis and also make sure you include the last record in the series". I agree this is a bug, of sorts. I'll try to come up with a fix. Sowwy. -.-

[2016-05-09 08:17] bwilk commented on #98
dev and production fixed

[2016-05-09 08:17] #98 closed

[2016-05-09 08:18] bwilk commented on #98
dev and production fixed

[2016-05-09 08:29] dharezlak commented on #35
I would say it is.

[2016-05-09 09:26] bwilk commented on #35
Finished. It's been done by manual assignment so when new profiles will be added, we should generalise this mechanism by providing some kind of script

[2016-05-09 09:26] #35 closed

[2016-05-11 07:54] nowakowski opened #105 "500 error triggered when measurement query finds no qualified measurements"
D, [2016-05-11T09:45:42.627087 #7826] DEBUG -- :   SQL (4.2ms)  SELECT COUNT(m.*) FROM (SELECT m.*, row_number() OVER(ORDER BY m.timeline_id, m.m_timestamp ASC) AS row FROM measurements m JOIN timelines t ON m.timeline_id = t.id WHERE m.m_timestamp BETWEEN '2016-04-27 07:45:36 UTC' AND '2016-05-11 07:45:36 UTC'  AND m.timeline_id IN (9029,9028) ORDER BY m.timeline_id, m.m_timestamp ASC ) m
D, [201

[2016-05-24 10:05] mkasztelnik opened #106 "While deleting Experiment delete only timeline with water shape"
Currently water shape and all scenarios assigned to experiment are deleted

[2016-05-24 10:05] mkasztelnik commented on #106
water shape should be assigned to dedicated context

[2016-05-24 12:12] dharezlak opened #107 "Store a base height of a profile/levee"
There should be a base height stored for a levee or profile to properly show devices on different heights inside profiles. I suppose profile is better to keep this kind of information as for levees that wind for several kilometres the height may change significantly.

[2016-05-30 09:21] bwilk commented on #107
In production

[2016-05-30 13:24] #107 closed

[2016-06-06 07:40] bwilk commented on #80
I think we can

[2016-06-06 07:40] #80 closed

[2016-06-06 16:25] dharezlak opened #109 "Extend the profile shape end points to stick to section edges"
This is required by the profile visualization widget to properly draw the profile shape.

[2016-06-07 09:16] dharezlak opened #110 "Profiles' base_height property is always null on the dev environment"

[2016-06-07 09:27] dharezlak opened #111 "Development DAP does not return any Budokop profiles"

[2016-06-07 09:28] dharezlak commented on #111
Take a look at https://dap-dev.moc.ismop.edu.pl/api/v1/profiles

[2016-06-09 07:49] bwilk commented on #110
done on monday

[2016-06-09 07:49] #110 closed

[2016-06-09 07:52] bwilk opened #112 "Tune up Sentry to stop reporting when nothing changes"
Report only when the sensor is flipping. Consider tagging logs when sensor is flipping - this way we can log each time we check, and not see each check in sentry - only those with state changes.

[2016-06-13 12:22] bwilk commented on #112
done - in production

[2016-06-13 12:22] #112 closed

[2016-06-17 10:34] dharezlak opened #113 "In the development environment profiles do not contain shape definitions"
All profile_shape properties in the returned JSONs are `null`.

[2016-06-17 10:50] nowakowski commented on #113
My bad. Fixed.

[2016-06-17 10:50] #113 closed

[2016-06-17 12:43] nowakowski commented on #111
One of my tests accidentally deleted the Budokop profiles on dev. Copying over the current production DB to dev will fix it.

[2016-06-27 14:46] tbartynski opened #115 "Create a GET /threat_levels method"
It should return a JSON:
[code]

[2016-06-29 09:11] nowakowski opened #116 "Add "Experimentation ID" field to Parameter"
This will be immutable and can be shared by multiple Parameters when a device is exchanged for another device. Talk to TB to ensure that comparator data is tagged with these new IDs rather than with custom_ids.

[2016-07-04 07:21] dharezlak opened #117 "Set measurement unit to kWh for 'zużycie energii sensora'"

[2016-07-04 07:29] dharezlak opened #118 "Improve parameter naming for water level sensors"
Take a look at the legend in the following snapshot:

![screenshot from 2016-07-04 09 28 38](https://cloud.githubusercontent.com/assets/1506876/16553601/d0fa7e18-41c9-11e6-91c2-b0bdb3d514cf.png)

[2016-07-05 10:07] dharezlak opened #119 "Change labels of NS sensor on charts"
Change labels of NS sensors on charts to more meaningful, such that allow identification of the sensors' locations. For example "neosentio.3_26_0_4 (Temperatura)". However, Daniel Kessler said that these IDs may change.

[2016-07-05 10:11] dharezlak commented on #119
UI uses `parameter.custom_id (parameter.measurement_type_name)` to generate chart labels.

[2016-07-06 08:48] balis opened #120 "Data exported to CSV is repeated 4 times"
Reportedly any readings exported from GUI to CSV are repeated 4 times and are ordered randomly.

[2016-07-06 08:52] mkasztelnik commented on #120
I don't believe that is should be assigned to me. From the UI perspective only user request is redirected to DAP.

[2016-07-06 08:59] nowakowski commented on #120
This is probably due to the presence of multiple copies of the same reading in DAP (as reported by MOM). @bwilk - as the author of the export service, could you run `.uniq` on the result sets to avoid this issue?

[2016-07-06 13:00] dharezlak commented on #119
Proposal:

* pump_monitoring dla PV-> Poziom wody - czujnik 1
* pump_monitoring dla 1_PV-> Poziom wody - czujnik 2
* pump_monitoring dla 2_PV-> Poziom wody - średnia dla czujników 1 i 2
* pump_monitoring dla SP-> Poziom wody - wartość zadana

[2016-07-06 13:01] dharezlak commented on #118
Proposal:

* pump_monitoring dla PV-> Poziom wody - czujnik 1
* pump_monitoring dla 1_PV-> Poziom wody - czujnik 2
* pump_monitoring dla 2_PV-> Poziom wody - średnia dla czujników 1 i 2
* pump_monitoring dla SP-> Poziom wody - wartość zadana

[2016-07-11 12:50] nowakowski commented on #118
Done as requested.

[2016-07-11 12:52] nowakowski commented on #117
Done (on prod).

[2016-07-11 12:52] #117 closed

[2016-07-12 12:03] dharezlak commented on #118
* `czujnik 1` is repeated for two of the water level parameters

[2016-07-12 14:42] nowakowski commented on #111
They're back!

[2016-07-12 14:42] #111 closed

[2016-07-12 14:45] nowakowski commented on #118
@dharezlak There's only one `Parameter` in the database with `parameter_name` set to `czujnik 1`. Could you post a screenshot?

[2016-07-12 14:51] dharezlak commented on #118
I can post two:

![screenshot from 2016-07-12 16 48 10](https://cloud.githubusercontent.com/assets/1506876/16771477/ee39cbea-4850-11e6-8af6-59316568ec13.png)

![screenshot from 2016-07-12 16 50 52](https://cloud.githubusercontent.com/assets/1506876/16771476/ee37da9c-4850-11e6-9260-26163e10afbf.png)

[2016-07-12 15:00] nowakowski commented on #118
Okay, I see - they're both part of the same Device. I can rename one (or both) but can you suggest appropriate names?

[2016-07-13 07:27] nowakowski opened #123 "Find out why data export is such a lengthy operation"

[2016-07-13 11:10] nowakowski commented on #118
Okay; fixed.

[2016-07-13 11:10] #118 closed

[2016-07-18 12:18] nowakowski commented on #120
@bwilk - this is now urgent (cf. MB's message of 18 July). Could you follow up on this issue before the meeting on Wed?

[2016-07-18 13:41] bwilk commented on #120
Implemented and tested in https://github.com/ismop/dap/commit/383d287863c7b3e11e6cacf6adb14a1e41ebe687

[2016-07-18 13:41] #120 closed

[2016-07-25 10:32] nowakowski commented on #119
@dharezlak Could you suggest a suitable label (by providing examples)?

[2016-07-25 10:33] nowakowski commented on #116
A different approach has been proposed by @dharezlak

[2016-07-25 10:33] #116 closed

[2016-07-25 10:33] nowakowski commented on #123
Serialization issues. Nothing to be done but this is not a time-critical task. Closing.

[2016-07-25 10:33] #123 closed

[2016-07-25 10:38] dharezlak commented on #119
This issue has been originally reported by @balis with https://github.com/ismop/eitwid/issues/105. As it was a DAP-only issue I moved it here. I suppose @balis should have more details on it.

[2016-07-25 10:50] #95 closed

[2016-07-25 10:50] #94 closed

[2016-07-25 10:52] nowakowski commented on #119
@balis We'll need a more detailed explanation of what kinds of labels are required. Could you give us some examples?

[2016-07-25 11:13] mkasztelnik commented on #123
Can you elaborate more? So no db issue only serialization?

[2016-07-25 15:02] mkasztelnik commented on #119
I propose to treat this issue as a possibility to fix all naming problems we currently have in DAP. In device, parameter we have following values:
  * `Device.name`
  * `Parameter.name`
  * `Parameter.measurement_type_unit`
  * `Parameter.measurement_type_name`

(I know that `measurement_type_*` are in different model but from serialization point of view these values are serialized as parameter va

[2016-07-26 12:32] #115 closed

[2016-08-05 11:15] nowakowski opened #126 "Create a separate DB for long-term measurement queries"
Ask @bwilk for help with setting up a Flume sink.

[2016-08-08 08:25] mkasztelnik opened #127 "Threat levels help menu item is missing"
Help for this REST API https://dap.moc.ismop.edu.pl/help/api/threat_levels is available, but link to this help is not presented in help menu.

[2016-08-09 07:02] mkasztelnik opened #129 "Internal server error on threat_levels REST API"
while trying (on both dev and prod) to invoke `/api/v1/threat_levels` following error is returned:

[code]

Inside production logs following error can be found:

[code]

[2016-08-09 13:41] #127 closed

[2016-08-09 13:46] nowakowski opened #130 "Implement changes in Scenario model"
- Add a field named `threat_level` (int)
- Add `scenarios.name`, `scenarios.description` and `scenarios.threat_level` to `ThreatLevelController` output
- Remove TB's obsolete calculator service
- Fix specs etc.

[2016-08-09 14:52] mpawlik commented on #130
+1 for this issue, sorry for not posting this by myself.

[2016-08-10 06:47] mkasztelnik opened #131 "Profiles are not filtered using levee_id"
Take a look at following query: `/api/v1/profiles?levee_id=2`. This query should return profiles belonging to levee with id equals to 2. Unfortunately all profiles are returned.

[2016-08-10 06:54] mkasztelnik opened #132 "Profile levee_id is not id but something more"
According to DAP documentation `Profile#levee_id` returned by REST API should be: "identifier of the levee the profile belongs to". It is something more. Take a look at sample result:

[code]

Most probably it was made for same reason - @nowakowski, @dharezlak do you know the story behind it? In eitwid I don't see any mapping between this field and [POJO](https://github.com/ismop/eitwid/blob/devel

[2016-08-10 06:55] mkasztelnik commented on #132
This can be a cause of #131

[2016-08-10 07:52] nowakowski commented on #132
You're right; the entire `levee` object is serialized instead of just the ID. Might have been done on purpose. ;) If I change this to return the ID, will it break the UI?

[2016-08-10 09:41] mkasztelnik commented on #132
Most probably no since this field is not serialized by pojo I linked, but I'm not sure if it is not used by "porownywaczka" - @mpawlik, @tbartynski  can you check it?

[2016-08-10 10:03] mkasztelnik commented on #132
I browsed profile serializer history and this change is made by @bwilk in ddea3b29a9431a17e313c37a617d0ecf75f2845f. @bwilk do you remember why this change was introduced?

[2016-08-10 16:48] nowakowski commented on #130
@mpawlik @mkasztelnik Deployed to dap-dev. Please check whether everything works fine on your end.

[2016-08-10 17:16] nowakowski commented on #129
This should be obviated by #133. @mkasztelnik - could you check whether this still occurs on dev?

[2016-08-10 17:28] nowakowski commented on #119
@mkasztelnik I agree that the values of `Parameter.parameter_name` need some massaging since right now it mostly duplicates `Parameter.custom_id` (or else is set to `unknown parameter` by the parameter discovery service). I could write a script to convert these values to something useful (e.g. "Światłowód 254m"). Should I?

Regarding `Device`, I don't want to reuse `custom_id` as a human-readable

[2016-08-10 17:53] mkasztelnik commented on #129
This error is still thrown on dev. You can try it by going into https://dap.moc.ismop.edu.pl//api/v1/threat_levels?private_token=XXX page

[2016-08-10 18:01] mkasztelnik commented on #119
@nowakowski it would be nice to make it right :smile: As I was proposing above it would be nice to have unified axis name formatting in UI for all series like:

[code]
To make it possible correct data in DAP is needed.

According to device name I meant exactly how you describe it. As you can see I already changed `device.getCustomId()` into `Device.getName()` in my example.

[2016-08-10 18:04] nowakowski commented on #129
@mkasztelnik That's the URL for prod. Are you sure you tested the right setup?

[2016-08-10 18:13] mkasztelnik commented on #129
I was testing on both envs, on dev the result is the same.

[2016-08-10 18:46] nowakowski commented on #129
@mkasztelnik OK, sorry. The error occurs because of the 94 `Result` objects in DAP none are linked to any `Scenario` and @tbartynski 's controller assumes that a `Result` will **always** have an assigned `Scenario`. This, in fact, seems like a sensible assumption - perhaps I should add a validation to ensure that `Result.scenario` is never `nil`?

Bottom line: the data is bogus. I can either link

[2016-08-10 19:19] mkasztelnik commented on #129
I propose to keep it clean and delete absolute data, but we need to be sure that this data is not used by "porownywaczka" - ping @mpawlik

[2016-08-11 11:05] mpawlik opened #134 "Introduce offset to result and threat_levels"
We need to store 'offset' value in 'result' entity. Offset is a positive integer. For compatibility it shouldn't be a required value. We could settle for something like '-1' default value if this helps with this 'optional' requirement.

[2016-08-11 12:01] mkasztelnik opened #135 "Why threat_levels REST API has many threat_assesments?"
This is just to remember my question to @tbartynski next week: why `/threat_levels` `ThreatLevel` element has many `threat_assessments` which have many `scenarios`?

As far as I understand purpose of the `/threat_levels` rest interface is to return last threat levels (in the future for given time or current time when date is not set) with scenarios ranking for all profiles. If I'm right than why t

[2016-08-15 22:15] mpawlik opened #136 "REST api doesn't allow for creating threat_assessment->threat_assessment_run relations"
Creating threat_asessment with threat_assessment_run_id parameter doesn't cause the threat_assessment_run_id value to show up, when later retrieving threat_assessment entity.

It seems that ThreatAssessmentsController::create is missing some functionality (something similar to profile_ids handling).

[2016-08-16 07:23] dharezlak commented on #135
From what I remember the purpose of `threat_level_assessment_runs` is to indicate whether there are any assessments running at a given time. This is to be able to show full assessment info in the UI with just one request.

I guess the additional `threat_assessments` object is there to describe what is inside the following array.

I am not sure what the ellipsis in the above structure means? Is it

[2016-08-16 07:33] mkasztelnik commented on #135
No the `threat_level_assessment_runs` stays as it is. I was not referring to this element at all. The only part which is not clear for me is why there is additional 1-n relation between `threat_levels` and `threat_assessments`. It is possible to have more than one `threat_assessments` returned in this rest api? If yes than how to interpret it?

[2016-08-16 08:03] dharezlak commented on #135
OK, this part was obvious so I did not see it. Simply, there can be many runs of the similarity computation engine (aka "porównywaczka"). The number of results, as documented, can be limited by the `limit` parameter if a smaller number is needed. The UI can limit this to only one but it can also show more.

[2016-08-16 08:06] mkasztelnik commented on #135
Ok this explains a lot. I thought that `limit` is connected with number of returned scenarios in the ranking.

[2016-08-16 09:14] nowakowski commented on #130
Still on hold until we figure out what to do with existing records (cf. #133)

[2016-08-16 11:52] mpawlik commented on #129
I think we can drop old results, @tbartynski correct me if I'm wrong:)

[2016-08-16 13:32] nowakowski commented on #136
Controller had wrong list of permitted params. @mpawlik - could you try it now on dev? (I deployed a fix.)

[2016-08-16 13:33] nowakowski commented on #132
Ping @bwilk

[2016-08-16 13:34] nowakowski commented on #129
Just to be clear - I will drop all `Result` objects but leave their parent `ThreatAssessment` and `Scenario` objects intact. Is this OK?

[2016-08-17 06:43] #135 closed

[2016-08-17 06:52] mkasztelnik opened #137 "Add `from`, `to` into `/threat_levels` REST API"
This is needed to get threat levels for given experiment time.

[2016-08-17 07:04] tbartynski commented on #132
Porównywaczka does not use levees so it won't be affected.

[2016-08-17 08:19] #130 closed

[2016-08-17 08:21] nowakowski commented on #129
Should be fixed now (please verify).

[2016-08-17 08:29] nowakowski commented on #134
@mpawlik Pushed to dap-dev. Please check if this is what you wanted.

[2016-08-17 08:42] tbartynski commented on #129
I think I should change the controller. It is possible for porównywaczka to produce results without associated scenarios in case when porównywaczka was not able to match to any existing scenario. No match is also a result in my opinion so it is stored in DAP to indicate that the computation was completed.

[2016-08-17 09:07] nowakowski commented on #129
We had a chat with @tbartynski regarding this issue. From the database design standpoint, creating null `Result` object to denote that no matching scenario has been found is absolutely awful, bordering on criminal - for starters, it breaks 2NF because "lack of applicable scenarios" is **not** a property of the `Result` entity and does not follow from any of its candidate keys. I know they came up

[2016-08-17 09:09] nowakowski commented on #129
Sorry, misclick.

[2016-08-17 09:11] mkasztelnik opened #139 "Add filtering by threat assessment run status"
On experiment view I'm interested only about finished threat assessments from given time interval, thus adding `status` query param is important.

[2016-08-17 09:14] mkasztelnik commented on #129
I propose to use status only for threat assessment state, thus `new`, `running`, `finished`, `error` values should be enough. If status is `finished` and no results are assigned to run than we know that no scenarios were matched.

[2016-08-17 09:26] tbartynski opened #140 "Enable DAP to store threat assessment state"
Extend the model with _state_ enum field with _running_, _finished_ and _error_ values.
Add a REST method to update the _state_ of ThreatAssessment record.
Perhaps adding a validation that a Result is associated with Scenario would also be useful?

[2016-08-17 09:33] #134 closed

[2016-08-17 09:44] tbartynski commented on #129
#140 describes the solution on the DAP side.
I'll enhance the hyperflow executor to support it.
I'll close this issue once the two issues above are fixed.

[2016-08-17 09:54] nowakowski commented on #140
Deployed to dap-dev. Use PUT threat_assessments/#{id} to update the new `status` field (default is `running`).

[2016-08-17 10:08] nowakowski commented on #129
#140 already deployed on dev.

[2016-08-17 10:08] #140 closed

[2016-08-17 12:17] tbartynski commented on #129
Pull request https://github.com/mpawlik/hyperflow-amqp-executor/pull/2 waiting for @mpawlik review.

[2016-08-17 12:45] tbartynski opened #142 "Add ThreatAssessment status into threat_levels action"

[2016-08-18 15:30] mpawlik commented on #129
I'm not sure how I feel about proposed changes, it seems that the model is trying to closely follow minor implementation details of execution engine. We already have ThreatAssessmentRun's status, why do we need another status in ThreatAssessment? Isn't it easier to just handle ThreatAssessments with no results?

[2016-08-18 16:21] mkasztelnik commented on #129
I was discussing the same with @tbartynski. He explains that `ThreatAssessmentRun` is something which is started and is active for a long time. In defined time interval it triggers `ThreatAssessment` execution. Right now we don't have information about status of single `ThreatAssessment`. That is the reason for introducing mentioned `status`.

Use case from UI: without status we don't know if `Thr

[2016-08-18 17:46] mpawlik commented on #129
@mkasztelnik @tbartynski it's not how it works. Lifetime of 'running' state for both entities is almost the same. It seems that we're doing the 'creep function from one entity to other' thing again.

ThreatAssessmentRun represents calculation of ThreatAssessments for multiple profiles. Threat Assessment's sole purpose was to group profile->best matching scenarios (aka Results). In current setup Th

[2016-08-18 18:41] mkasztelnik commented on #129
Ok that is totally different scenario than @tbartynski described us last Wednesday.

[2016-08-19 07:24] tbartynski commented on #129
@mpawlik I believed that we also used Threat Assessment Run to model a continuous monitoring of profile (more specifically a set of periodically computed assessments). We don't do that at all? If not then I'm sorry for misleading everyone.
Anyway, Threat Assessment status is implemented in both DAP and hyperflow-amqp-executor and knowing status of partial computation is better than knowing status

[2016-08-19 17:17] mkasztelnik opened #144 "Queries about data in the future causes internal server error (500 status code)"
Try following query:
[code]

[2016-08-19 18:41] nowakowski commented on #144
@mkasztelnik Should be fixed on prod. Can you recheck?

[2016-08-19 18:42] mkasztelnik commented on #144
yeap, now everything is ok.

[2016-08-19 18:43] nowakowski commented on #144
Closing.

[2016-08-19 18:43] #144 closed

[2016-08-22 07:09] mkasztelnik opened #148 "Not all neosentio sensors assigned to profile"
Take a look at attached screenshot:

![not_assigned_sensors](https://cloud.githubusercontent.com/assets/1265430/17846308/12bda63c-6848-11e6-942b-9a4220208de1.png)

[2016-08-22 07:30] dharezlak opened #149 "Profile with id 141 on prod has wrong coordinates"
`[19.676602,49.980666],[19.676602,49.980666]`: the second coordinate is repeated.

[2016-08-22 07:31] dharezlak commented on #149
The same thing can be spotted on the development environment.

[2016-08-22 07:32] mkasztelnik commented on #149
Do you know how coordinates should looks like? Than I should be able to correct it.

[2016-08-22 07:37] mkasztelnik commented on #149
Right now it looks as follow in dap: `LINESTRING (19.676602 49.980666, 19.676602 49.980666)`

[2016-08-22 07:39] #142 closed

[2016-08-22 07:41] dharezlak commented on #149
Could you try the following: [19.676550933948498,49.980666],[19.6768449865425,49.980666]?

[2016-08-22 07:42] dharezlak commented on #149
After all it is the first coordinate which is wrong.

[2016-08-22 07:51] mkasztelnik commented on #149
Done as requested on dev and prod

[2016-08-22 07:51] #149 closed

[2016-08-22 12:56] dharezlak opened #150 "Fix profile-to-section mapping for north-end section"
The north-end section (id=6 on production) has been assigned two profiles which breaks UI processing while generating horizontal cross-section views. Although it seems that geographically the profiles belong to the mentioned section it makes more sense to assign the profiles to the adjacent "straight" profiles.

[2016-08-22 13:45] mpawlik commented on #136
Looks like it's working.

[2016-08-22 13:45] #136 closed

[2016-08-23 10:51] mkasztelnik opened #151 "`threat_levels` REST API is extremally slow"
Test case:
[code]
result:
[code]

There is a lot of n+1 queries in DAP logs and additional bug connected with returning a loooong list of `threat_level_assessment_runs` elements.

[2016-08-23 11:10] mpawlik commented on #151
FYI This might be related to a large amount of new threatassessmentruns, threatassessments and results, which appeared yesterday.

[2016-08-23 11:12] mkasztelnik commented on #151
I'm aware about this drop, but the main problem here is connected with n+1 queries and most probably with bug in number of returned `treat_level_assesment_runs`.

[2016-08-23 11:24] mpawlik commented on #151
OK, I just wanted to give all involved a 'heads up' ;)

[2016-08-23 12:28] nowakowski commented on #151
@tbartynski This is your code - perhaps you want to pick up this ball? (If not, I can take care of it but am extremely busy with another project right now and will not have time before Thursday...)

[2016-08-24 08:43] tbartynski commented on #151
I'll try to fix it.

[2016-08-24 18:45] nowakowski commented on #148
@mkasztelnik I reassigned the offending profile to section 8 (the straight section). Hopefully this artifact should be gone now. Please close this ticket if you like the results.

[2016-08-24 18:46] nowakowski commented on #148
![sec8](https://cloud.githubusercontent.com/assets/4568385/17943465/cea28314-6a3b-11e6-8670-23273e3a55e4.png)

[2016-08-24 18:46] nowakowski commented on #148
Done on dev and on prod.

[2016-08-24 18:50] nowakowski commented on #150
@dharezlak Done as requested (on dev and prod).

[2016-08-24 18:50] #150 closed

[2016-08-24 18:50] nowakowski commented on #132
Ping @bwilk (again).

[2016-08-24 20:55] #148 closed

[2016-08-29 08:53] tbartynski commented on #151
I improved it a little bit last Wednesday and since then it takes about 2 seconds. I will continue work on this issue.

[2016-08-29 12:50] bwilk opened #153 "Experiment CSV format change"
Include parameter id entifier. For now the format is as follows:
1472196600,19.676668371346754,49.97997606230256,211.42,Temperatura,14.67000008
Should rather be:
1472196600, \<PARAMETER_ID\>,19.676668371346754,49.97997606230256,211.42,Temperatura,14.67000008

[2016-08-29 13:10] mpawlik commented on #153
Does this affect csv output or csv experiment input (importer)?

[2016-08-29 13:11] mkasztelnik commented on #153
Not at all. This is just for exporting, not connected with importing :dancer:

[2016-08-29 15:09] bwilk commented on #153
Just like @mkasztelnik said

[2016-08-30 11:51] #153 closed

[2016-09-05 04:16] dharezlak opened #155 "Extend the export API to dump all measurements at a given time or close to to it"
Filtering should allow for picking BK, NS or all sensors. Blocks https://github.com/ismop/eitwid/issues/133.

[2016-09-05 09:43] mkasztelnik commented on #155
I propose to implement it in asynchronous way (currently export all experiment data is able to kill DAP):
1. export request generates sidekiq job with export details (inside request all details + user email should be given)
2. export sidekiq job is dumping experiment data into file
3. after export is completed email is sent to the email given in the export export

[2016-09-05 11:25] bwilk opened #157 "Batch export for measurements at given time"

[2016-09-05 11:31] dharezlak commented on #157
Already an issue at #155.

[2016-09-05 12:35] tbartynski commented on #151
Improved a little more.
time curl https://dap-dev.moc.ismop.edu.pl/api/v1/threat_levels?private_token=XXX
=>
real	0m1.276s
user	0m0.017s
sys	0m0.004s

[2016-09-06 08:44] mkasztelnik opened #158 "Read water height from "pogodynka""
Create dedicate flume sink which in defined period of time read water height from Czernichow (http://monitor.pogodynka.pl/api/station/hydro/?id=149190230). Perfect solution would be to allow sink to be defined in flume configuration (where pogodynka id and read interval is given).

[2016-09-08 08:42] bwilk commented on #155
Barbara Bukowska-Belniak's comment should be included here, I guess:
"[...] jeśli to nie problem, to modelarzom przydałby się eksport eksperymentu z zapasem 2 dób przed jego rozpoczęciem i minimum 1 doby po. Przed modelowaniem fali musimy ustabilizować model rzeczywistymi wartościami parametrów. A modelujemy zawsze jeszcze jakiś czas po zakończeniu eksperymentu do walidacji modelu."

[2016-09-08 13:44] bwilk commented on #158
Implemented in https://github.com/ismop/flume-pogodynka-sourc
Needs integration testing and deployment

[2016-09-13 12:39] mpawlik commented on #129
@tbartynski I think we cleared up things a bit in f2f conversation. Did changes proposed in this issue made it to master? If so we can close this issue.

[2016-09-14 12:43] tbartynski commented on #151
Further improvements were made:
time curl https://dap-dev.moc.ismop.edu.pl/api/v1/threat_levels?private_token=XXX
=>
real	0m0.432s
user	0m0.003s
sys	0m0.008s

server side log: Completed 200 OK in 387ms (Views: 3.5ms | ActiveRecord: 54.6ms)

I guess it's good enough.

[2016-09-20 07:53] bwilk commented on #158
Deployed on development infrastructure. There are some bugs in parsing time zone:
pl.cyfronet.ismop.flume.PogodynkaParseException: java.time.format.DateTimeParseException: Text '2016-09-20T07:40:00Z' could not be parsed: Unable to obtain ZonedDateTime from TemporalAccessor: {InstantSeconds=1474357200, NanoOfSecond=0},ISO of type java.time.format.Parsed
	at pl.cyfronet.ismop.flume.Pogodynka.parsePo

[2016-09-20 07:56] bwilk commented on #158
This is strange because it works on my local machine with java 1.8.0_101-b13 and does not work with 1.8.0-b132 on the target development server

[2016-09-21 00:09] mpawlik commented on #158
Quick google search suggests, that we *really* need to update java on the server:
https://bugs.openjdk.java.net/browse/JDK-8041360t

[2016-09-21 05:45] mkasztelnik commented on #158
I just installed newest java `1.8.0_101` - please check if this helped.

[2016-09-21 05:45] mkasztelnik commented on #158
Aaa flume and flume-dev was already restarted using upstart

[2016-09-21 05:49] mkasztelnik commented on #119
@nowakowski any update of this issue? This is quite urgent for implementing https://github.com/ismop/eitwid/issues/136

[2016-09-21 07:09] nowakowski commented on #119
@mkasztelnik Yeah, there is progress. While I'm not sure if we can close this issue altogether, I have worked with Daniel Kessler to re-register NS sensors and it seems he's finally happy with the result:

<pre>
Piotrze
O to chodziło. Teraz mogę wybierać co mnie interesuje. Super.
</pre>

Note, however, that Daniel has also asked me to provide wildcard support in the Device filter (Analysis view)

[2016-09-26 10:10] bwilk commented on #158
Ok - problems fixed. The source is deployed on dev and prod infrastructures

[2016-09-26 10:10] #158 closed

[2016-09-30 14:38] nowakowski opened #160 "Add seeds for local testing of experiment scripts"
Use `dev:prime` (https://github.com/ismop/dap/pull/159#issuecomment-250760128) or just regular `db:seed`.

[2016-10-13 09:05] mkasztelnik commented on #137
Any news when it can be implemented?

[2016-10-13 09:08] mkasztelnik commented on #139
Any news when it can be implemented?

[2016-10-13 09:22] tbartynski commented on #139
I can go back to this issue next Monday.

[2016-10-13 09:23] tbartynski commented on #137
I can go back to this issue next Monday. We can discuss whether this issue of #139 is more important.

[2016-10-13 09:26] mkasztelnik commented on #137
Both has the same importance level, because both are required by new feature implemented by me in eitwit

[2016-10-13 09:28] tbartynski commented on #137
Then pick one you want me to work on Monday.

[2016-10-17 06:19] mkasztelnik commented on #151
Good for now

[2016-10-17 06:19] #151 closed

[2016-10-17 06:21] mkasztelnik commented on #139
I propose following schema for `/threat_levels` query params:

[code]

[2016-10-17 06:21] mkasztelnik commented on #137
I propose following schema for `/threat_levels` query params:

[code]

[2016-10-17 13:05] mkasztelnik commented on #139
After discussion with @tbartynski we agreed that status is not needed for my case, since `ThreatAssesment` section contains alreasy finished calculations.

[2016-10-17 13:05] #139 closed

[2016-10-19 13:06] dharezlak commented on #119
Can we move this issue forward? Things to do:
* [ ] add a `name` field to the Device entity and initialize it with the current value of the `custom_id` field.

For #90 we could do the following:
* [ ] set `Device.name` to `Poziom wody`,
* [ ] respectively set `Parameter.parameter_name` to `poziom dla czujnika 1`, `poziom dla czujnika 2`, `poziom zadany`, `średni poziom dla czujników 1 i 2`, `zużyc

[2016-10-24 12:58] tbartynski opened #164 "remove obsolete relations from ThreatAssessment model"
Threat Assessment is associated with Profile in two ways. It has a profile_id field which suggests N-1 relation. Besides that there is a profile_selections linking table that implements a N-M relation. I guess profile_id should be removed not to introduce confusion.

[2016-10-24 13:00] #129 closed

[2016-10-24 14:00] #137 closed

[2016-10-28 13:28] nowakowski opened #166 "Errors in ThreatAssessmentController on dap-prod"
After pushing master to dap-prod and clicking on Analysis view:
<pre>
E, [2016-10-28T15:17:23.896033 #5272] ERROR -- : PG::InvalidParameterValue: ERROR:  time zone "gmt+200" not recognized
LINE 8: ...      WHERE threat_assessments.created_at BETWEEN 'Fri Oct 2...
                                                             ^
:           SELECT id, created_at, status, rank
            FROM (

[2016-10-28 13:57] nowakowski commented on #166
Fixed it myself. Closing ticket.

[2016-10-28 13:57] #166 closed

[2016-10-31 15:47] dharezlak opened #167 "Vendors array empty for budokop profiles"
When retrieving profiles with `https://dap.moc.ismop.edu.pl/api/v1/profiles`, `vendors` array contains a `neosentio` value for some of the profiles, however, the rest does not contain the `budokop` value.

[2016-11-02 10:38] nowakowski commented on #119
@dharezlak Can do.

[2016-11-02 10:41] mkasztelnik commented on #119
Device prefixes:
  - Fiber optic: FO
  - Budokop: B
  - Neosentio: N

Measurement type prefix:
  - U - czujniki cisnień porowych
  - T - temperatura
  - SV - naprężenie

[2016-11-02 10:53] nowakowski opened #168 "Cache JSON requests for sensor parameters view"
Key: parameter ID; result: cached JSON

[2016-11-02 11:15] nowakowski commented on #168
Better yet: list of IDs.

[2016-11-04 09:46] mkasztelnik opened #169 "Improve experiment export"
Experiment should be done only once at the end of the experiment (result exported file can be put into rails `public_html` folder. It would be also nice to have some kind of flag in the experiment object saying that experiment is already exported and download button can be shown on UI.

[2016-11-07 07:43] mkasztelnik commented on #155
What about this issue? It blocks https://github.com/ismop/eitwid/issues/133 ...

[2016-11-07 09:00] mkasztelnik opened #170 "Wrong Neosentio sensors names/custom ids"
From DK email:

[code]

![neosentio-sensors](https://cloud.githubusercontent.com/assets/1265430/20051762/f7e853f0-a4d0-11e6-8b1d-3bec43a7d644.png)

[2016-11-07 09:32] dharezlak commented on #132
Just spotted this again. @bwilk: are you reading these notifications? Looks like this issue could be quickly fixed but we need your input!

[2016-11-07 09:40] dharezlak opened #171 "Wrong profile-section association"
On the development instance profile with id `7` is associated with section with id 7. The profile does not have any shape so it looks like it is bogus one. Please, do apprehend and incinerate.

[2016-11-07 09:44] dharezlak commented on #171
Also, check if this is occurring on production.

[2016-11-07 09:52] dharezlak commented on #171
Other profile ids with `null` shape to be checked: `3`, `1`, `6`. Just to be sure filter all the profiles to check for those with a `null` shape.

[2016-11-07 10:39] bwilk commented on #132
Hey guys - I read these notifications very rarely. E.g. for now I have 74 unread notifications - most of them does not concern discussions I'm involved in. Sorry guys, but I suppose you all know where to find me... As for the only question which has been addressed to me in this discussion - no, I don't remember. What is the problem we are working on in this thread? I simply don't understand this w

[2016-11-07 11:04] bwilk commented on #132
https://github.com/ismop/dap/pull/172

[2016-11-07 11:05] bwilk commented on #132
There is nothing more I can say about it - does it satisfy the issuer?

[2016-11-07 11:16] #132 closed

[2016-11-07 16:21] nowakowski commented on #170
@mkasztelnik To są wartości `Device.custom_id` (nowa nomenklatura dotyczy wartości `Parameter.custom_id`). Zostawiłem tak, bo było to do czegoś potrzebne Danielowi K. Może po prostu podmień jeden atrybut na drugi w wizualizacji?

[2016-11-07 16:22] nowakowski commented on #171
@dharezlak Old issue and I believe it does not occur on production. I fixed it once - but only on prod, because (i) it involved a lot of manual calculations; (ii) I thought it wouldn't matter that the assignments are incorrect on dev. Do you want me to fix dev regardless?

[2016-11-07 16:27] mkasztelnik commented on #170
@nowakowski please take a look here: https://github.com/ismop/eitwid/blob/master/src/main/java/pl/ismop/web/client/widgets/analysis/chart/wizard/ChartWizardPresenter.java#L157-L159 - this is how name is generated. Please let me know how I can improve it (please remember that this schema is used for all device parameters not only neosentio).

This is also connected with https://github.com/ismop/dap

[2016-11-07 16:46] nowakowski commented on #171
On further inspection, all those profiles aggregate old (deprecated) FO devices. They should never be visualized in any case. Could you perhaps just ignore them in the GUI?

[2016-11-07 17:36] dharezlak commented on #171
It looks like these profiles are also present in DAP production instance so removing them is now essential. From the UI perspective it should suffice to remove the section association (remove the section_id value). As for ignoring them, the UI already does that when drawing profiles. The problem is with UI logic which traverses the levee structure to select all budokop/neosentio devices for a sect

[2016-11-07 19:47] nowakowski commented on #171
@dharezlak I've followed your recommendation and removed the `section` assignment for all offending profiles. If you feel this is good enough - please close this ticket; otherwise complain. ;)

[2016-11-07 21:19] mkasztelnik opened #173 "Consider using "oj" to speed up json generation"
Take a look at https://github.com/ohler55/oj. It potentially can speed up JSON generation.

[2016-11-08 08:06] dharezlak commented on #171
This is good enough. Now, it's time for #167 which is another blocker for UI's new feature :)

[2016-11-08 08:06] #171 closed

[2016-11-08 12:16] nowakowski commented on #167
@dharezlak Try it now. :)

[2016-11-08 12:34] dharezlak commented on #167
Looks good now. Thanks.

[2016-11-08 12:34] #167 closed

[2016-11-18 12:36] mkasztelnik opened #176 "Tooltip is not usable when water height is added to the chart"
When many series are added to the chart with different timestamp tooltip is not usable. According to Daniel K. much more better would be to show values only from one serie.

Of course this is in opposition to requirement from "geolodzy".

[2016-11-18 12:38] mkasztelnik opened #177 "Don't change series colors while loading new data"
On analyse view charts series are changing colors while refreshing data. This is annoying to the end user.

[2016-11-18 12:45] mkasztelnik opened #178 "Add new type of chart on analyse view with difference between first and current measurement"
To discover anomalies during the experiment DK usually have one chart opened with multiple series and checks if temperature/pore pressure changing trends are similar. It would be good for him (and most probably also for the rest) to have dedicated view (or checkbox on existing chart view) where first series measurement is subtracted from all serie elements. As a result there should be quite flat l

[2016-11-18 12:47] mkasztelnik opened #179 "Show profile name on all views"
Currently we are showing "internal id". This is not user friendly for DK. Instead profile name should be presented. I see that `name` is not available in DAP, thus it should be added there and correct values should be set there.

[2016-11-18 12:49] mkasztelnik opened #180 "Add profile name and populate it with correct names"
Profile object does not have `name` fields right now. As a results on the UI we are showing internal id on the UI - this is not user friendly for the end users (at least for DK). Please add `name` field to `Profile` and populate it with correct values.

This issue blocks https://github.com/ismop/dap/issues/179

[2016-11-18 12:55] mkasztelnik opened #181 "More user friendly way to select multiple sensors"
DK (and also BBB) are selecting multiple sensors from different sections (e.g. with the same height and distance from the levee). This is quite of hard and time consuming currently on both: monitoring and analyse view.

The way to "make it better" (TM) would be e.g.:
  - by default selecting "Real measurements" while selecting sensors
  - select all filtered parameters while configuring chart on a

[2016-11-18 14:32] mkasztelnik commented on #181
Wrong project, moving into eitwid

[2016-11-18 14:32] #181 closed

[2016-11-18 14:44] bwilk commented on #180
@nowakowski could you provide us with specification of profile_id/shape/location to "profile name" mapping ?

[2016-11-18 14:45] nowakowski commented on #180
I'll try to get this done by Monday.

[2016-11-21 07:34] mkasztelnik commented on #179
Wrong project, moving into https://github.com/ismop/eitwid/issues/170

[2016-11-21 07:34] #179 closed

[2016-11-21 07:34] mkasztelnik commented on #178
Wrong project, moving into https://github.com/ismop/eitwid/issues/171

[2016-11-21 07:34] #178 closed

[2016-11-21 07:35] mkasztelnik commented on #177
Wrong project, moving into: https://github.com/ismop/eitwid/issues/172

[2016-11-21 07:35] #177 closed

[2016-11-21 07:36] mkasztelnik commented on #176
Wrong project, moving into: https://github.com/ismop/eitwid/issues/173

[2016-11-21 07:36] #176 closed

[2016-11-22 06:41] nowakowski commented on #180
Done and pushed to prod. New attribute is called `Profile.name`. Syntax is:

- For neosentio profiles: `Profil neosentio: <ID assigned by Daniel Kessler>`
- For budokop profiles: `Profil budokop: <internal DB ID>` (Budokop profiles have no external ID)

Updated API, specs and docs.

@mkasztelnik Please close this ticket if satisfied.

[2016-11-22 06:47] dharezlak commented on #180
The prefixes `Profil neosentio` and `Profil budokop` are not necessary here. We already know the vendor by looking at the vendors property. Also, it makes internationalization more difficult. This is a minor but I would fix it to minimize future UI hard coded commits to parse the name.

[2016-11-22 06:58] mkasztelnik commented on #180
Looks good and it is already used by eitwid.

[2016-11-22 07:16] nowakowski commented on #180
Reopening due to comment by @dharezlak .

My intent was to provide a human-readable name. If I truncate this to, say, `42`, this may lead to confusion further down the line (i.e. a couple months from now when we all forget what this attribute means and why it was added). I can rewrite the names but I would advise against it. If you insist, please specify what you consider to be the "proper" syntax

[2016-11-22 07:18] mkasztelnik commented on #180
Right now I propose to leave it at it is and let user test the new behavior.

[2016-11-22 07:21] dharezlak commented on #180
OK, closing.

[2016-11-22 07:21] #180 closed

[2016-11-23 06:00] dharezlak opened #183 "Section id property for numerous devices is null"
DAP query sequence is the following:
* `/sections`
* `/profiles?section_id=...`
* `/device_aggregations?profile_id=...`
* `/devices?device_aggregation_id=...&visible=true`

Section id in devices is needed for processing the results.

[2016-12-20 13:40] mkasztelnik opened #185 "Threat levels REST api don't take into account threat assessment run start and end date"
`from` and `to` are compared to ThreatAssessment created_at field which is bad. For example if we run threat level calculations for past results this REST api will return invalid data. To fix this problem ThreatAssesmentRun start or end dates should be taken into account.

[2017-01-18 08:31] nowakowski opened #186 "Improve data export"
Pregenerate export files for experiments (enabling download via UI). Launch exports as delayed jobs.

[2017-01-18 15:19] tbartynski opened #187 "Anomaly detection"
Provide a mechanism to query DB for devices and measurements along section edge. Detect anomalies based on measurement deltas.
_`delta = current_measurement - reference_value`_
where reference_value is the value at the moment when experiment was started.
Inform about detected anomaly.

[2017-04-19 13:28] #187 closed

[2017-04-19 13:36] tbartynski opened #189 "Periodically run anomaly detection"